/*
@media only screen and (max-device-width: 350) {
    html, body {
        background: white;
        background-color: white;
    }

    .wrapper {
        height: 100%;
        width: 100%;
    }
}
*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 
    html, body {
        background: white;
        padding: 0;
        margin: 0;
    }

    .wrapper {
        height: 100%;
        width: 100%;
        border: none;

    }

    .logo {
        grid-template-columns: 1fr;
    }
}
