/* general layout and background */
:root {
    --main-bg-color-dark: rgba(34,131,161);
    --main-bg-color-light: rgba(155,228,250);
    --main-wrapper-border: rgb(218,165,32);
    --main-font-color: rgb(92,92,92);
    --main-button-color-focus: rgb(31,120,148); 
}
html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    display: grid;
    background: linear-gradient(60deg, var(--main-bg-color-light), var(--main-bg-color-dark));
}

.wrapper {
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    background-color: white;
    border-radius: 10px;
    border: 2px solid var(--main-wrapper-border);
    margin: auto;
    height: 500px;
    width: 350px;
    box-shadow: 1px 1px 5px var(--main-bg-color-dark);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* logo css */
.logo {
    grid-template-columns: 1fr 1fr;
    display: grid;
    align-items: center;
}

.logo > img {
    height: 30%;
    margin: auto;
}

/* title text */

.title > h1 {
    font-weight: normal;
    color: var(--main-font-color);
}

/* input form */
form {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

input {
    padding: 0 20px;
    font-size: 1.1em;
    border-radius: 0;
    border: 1px solid var(--main-font-color);
    color: var(--main-font-color);
    height: 50px;
    width: 200px;
    box-shadow: 2px 2px 10px -5px var(--main-font-color);
}

.button {
    font-size: 1.2em;
    width: 100px;
    height: 35px;
    color: white;
    background-color: var(--main-bg-color-dark);
    border: none;
    box-shadow: 1px 1px 2px -1px black;
}

.button:focus {
    background-color: var(--main-button-color-focus);
}

#seat {
    text-align: center;
}

#seat > p {
    margin: 2px;
    font-weight: bold;
}

.seat-text {
    font-size: 1.2em;
    color: var(--main-bg-color-dark);
}
